
  
<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">News</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <p>Are you interested in news? Subscribe and enter your email address for our new products!</p>
  <div class="offcanvas-body">
    <form class="form-floating">
      <input type="email" class="form-control" id="floatingInputValue" placeholder="Email address" value="">
      <label for="floatingInputValue">Email Address</label>
    </form>
  </div>
  <img src="https://cdn.pixabay.com/photo/2020/04/04/10/46/snail-5001772_1280.jpg" alt="" class="img-fluid">
  <img src="https://cdn.pixabay.com/photo/2017/12/20/17/26/ring-3030338_1280.jpg" alt="" class="img-fluid">
</div>



  <h1>About Us</h1>

<div class="container">
    <img class="img" src="https://cdn.pixabay.com/photo/2020/04/05/14/24/nautilos-5006339_1280.jpg">

    <p>Our store is 150 years old, we strive to ensure that the authenticity of each piece remains the same. Each of our products is handmade with the utmost care for detail..<p>
</div>




<div class="end"><h2>Why choose us?</h2>
  <ul class="list-group">
    <li class="list-group-item">Authenticity</li>
    <li class="list-group-item">Handmade by our craftsmen</li>
    <li class="list-group-item">Tradition</li>
    <li class="list-group-item">Elegance</li>
    <li class="list-group-item"> Quality</li>
  </ul></div>
  <br><br><br>

  <div class="container">
   
    <h2>Humanity</h2>
    <p>In our store we strive to ensure that our materials are of high quality and tested. We also strive to ensure that every worker who helps us produce our rare stones is treated humanely and paid .<p>
       <img class="img" src="https://cdn.pixabay.com/photo/2020/04/07/18/40/cups-5014460_1280.jpg">
</div>
