.wrapper{
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2014/04/05/11/40/diamond-316610_1280.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  /* position: relative; */
  border-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.351)) 1 fill ;
  color: white;
}
